<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Home</a> 
    <a class="nav-item nav-link" routerLink="./fetch" >Fetch Api</a>
    <a class="nav-item nav-link" routerLink="./signIn " >TemplateDriven</a>
    <a class="nav-item nav-link" routerLink="./httpclient" >Httpclient</a>
    <a class="nav-item nav-link" routerLink="./form" >ReactiveForm</a>
    <a class="nav-item nav-link" routerLink="../hooks">Hooks</a>

  </div>
</nav>
<router-outlet></router-outlet>